__pycache__/
bot/__pycache__/
utils/__pycache__/
dashboard/__pycache__/
bot/cogs/__pycache__/
bot/utils/__pycache__/
.env
.venv/
.vscode/
data/data/data.db
data/data/sannamaija-bot-49194b8a2825.json
data/tasks/user_tasks.json
data/tasks/tasks.json
data/tasks/streaks.json
data/shop/tarjous.json
data/shop/ostot.json
bot/cogs/__pycache__/
bot/__init__.py
bot/utils/status_updater.py
data/questions.json
web_app/src/.env
web_app/package.json
env
data/data/event_data.json  
data/data/users_xp.json
data/data/users_streak.json 